body{
font-family:Arial,sans-serif;
margin:0;
background:#111;
color:white;
}

header{
padding:30px;
text-align:center;
}

#galeria{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
padding:20px;
}

.card{
background:#222;
padding:10px;
border-radius:10px;
}
